<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.rollaboard.BoardMapper">

	<resultMap type = "BoardVO" id = "BoardResultMap">
		<result property = "id" column = "ID"/>
		<result property = "name" column = "NAME"/>
		<result property = "admin" column = "ADMIN"/>
		<result property = "visibility" column = "VISIBILITY"/>
	</resultMap>
	
	
	<!-- getRefBoards -->
	<select id="getRefBoards" resultMap="BoardResultMap">
		SELECT br.REF_ID id, b.name name
		FROM board_ref br, board b 
		WHERE br.ref_id = b.ID 
    		AND br.board_id=#{id, javaType=String}
	</select>

</mapper>