<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.rollaboard.BoardMemMapper">

	<resultMap type = "BoardMemVO" id = "BoardMemResultMap">
		<result property = "board_id" column = "BOARD_ID"/>
		<result property = "mem_id" column = "MEM_ID"/>
		<result property = "permission" column = "PERMISSION"/>
		<result property = "admin" column = "ADMIN"/>
		
	</resultMap>
	
	<select id = "joinBoardChk" resultType = "int" >
		SELECT COUNT(*) FROM (SELECT * FROM board_mem WHERE BOARD_ID = #{board_id, javaType=int} )
		 WHERE MEM_ID = #{mem_id, javaType=String}
	</select>
	
	<insert id = "joinBoard" parameterType = "com.spring.rollaboard.BoardMemVO">
		INSERT INTO board_mem (BOARD_ID, MEM_ID) VALUES (#{board_id}, #{mem_id})
	</insert>
	
	
</mapper>