<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.rollaboard.CmtMapper">

	<resultMap type = "CmtVO" id = "CmtResultMap">
		<result property = "id" column = "ID"/>
		<result property = "task_id" column = "TASK_ID"/>
		<result property = "mem_id" column = "MEM_ID"/>
		<result property = "cre_date" column = "CRE_DATE"/>
		<result property = "content" column = "CONTENT"/>
	</resultMap>
	
	<!-- id는 Mapper.java(여기선 CmtMapper.java)에 동일하게 사용해야된다. -->
	
	  
</mapper>