<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.rollaboard.RoleMapper">

	<resultMap type = "RoleVO" id = "RoleResultMap">
		<result property = "id" column = "ID"/>
		<result property = "board_id" column = "BOARD_ID"/>
		<result property = "name" column = "NAME"/>
		<result property = "description" column = "DESCRIPTION"/>
	</resultMap>
	
	<resultMap type = "RoleAndTaskVO" id = "RoleResultMap2">
		<result property = "taskId" column = "ID"/>
		<result property = "roleId" column = "BOARD_ID"/>
		<result property = "memId" column = "NAME"/>
		<result property = "roleName" column = "DESCRIPTION"/>
		<result property = "memName" column = "DESCRIPTION"/>
	</resultMap>
	
	<!-- getRolesByBoard -->
	<select id="getRolesByBoard" resultMap="RoleResultMap2">
	
	</select>
		
	<select id = "getRoles" resultMap = "RoleResultMap">
		SELECT * FROM role WHERE BOARD_ID = #{board_id, javaType=int}
	</select>
	
	<select id = "getRole" resultMap = "RoleResultMap">
		SELECT * FROM role WHERE ID = #{id, javaType=int}
	</select>
	
	<insert id = "createRole" parameterType = "com.spring.rollaboard.RoleVO">
		INSERT INTO role VALUES 
		(SEQ_ROLE.NEXTVAL, #{board_id, javaType=int}, #{name, jdbcType=VARCHAR}, #{description})
	</insert>
	
	<delete id = "deleteRole" parameterType = "int">
		DELETE FROM role WHERE id = #{id}
	</delete>
	
	<update id = "updateRole" parameterType = "com.spring.rollaboard.RoleVO">
		UPDATE role SET NAME = #{name}, DESCRIPTION = #{description} where id = #{id}
	</update>
	
</mapper>