<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.rollaboard.SectionMapper">

	<resultMap type = "SectionVO" id = "SectionResultMap">
		<result property = "id" column = "ID"/>
		<result property = "board_id" column = "BOARD_ID"/>
		<result property = "name" column = "NAME"/>
	</resultMap>
	
	
	
	
</mapper>