<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.rollaboard.TaskMapper">

	<resultMap type = "TaskVO" id = "TaskResultMap">
		<result property = "id" column = "ID"/>
		<result property = "name" column = "NAME"/>
		<result property = "description" column = "DESCRIPTION"/>
		<result property = "status" column = "STATUS"/>
		<result property = "section_id" column = "SECTION_ID"/>
		<result property = "start_date" column = "START_DATE"/>
		<result property = "due_date" column = "DUE_DATE"/>
		<result property = "cre_date" column = "CRE_DATE"/>
		<result property = "priority" column = "PRIORITY"/>
		
	</resultMap>
	
	<!-- getTasksByBoard -->
	<select id="getTasksByBoard" parameterType="map" resultMap="TaskResultMap">
		SELECT *
		FROM task ta, section se
		WHERE ta.SECTION_ID=se.id 
    		AND board_id=#{board_id} 
	</select>
	
	<!-- getTasksByBoard2 -->
	<select id="getTasksByBoard2" parameterType="map" resultMap="TaskResultMap">
		SELECT *
		FROM task ta, section se
		WHERE ta.SECTION_ID=se.id
    		AND board_id=#{board_id}
    		AND (ta.name LIKE '%'||#{keyword}||'%' OR ta.description LIKE '%'||#{keyword}||'%')
	</select>
	
	<!-- getTasksByBoard3 -->
	<select id="getTasksByBoard3" parameterType="map" resultMap="TaskResultMap">
		SELECT *
		FROM task ta, section se
		WHERE ta.SECTION_ID=se.id
    		AND board_id=#{board_id}
    		AND (ta.name LIKE '%'||#{keyword}||'%' OR ta.description LIKE '%'||#{keyword}||'%')
    	ORDER BY
    		${sortQuery}
	</select>
	
	<select id="getTasks" resultMap="TaskResultMap">	
		SELECT * FROM task 
	</select>
	
	<insert id = "insertTask" parameterType = "com.spring.rollaboard.TaskVO">
			
		INSERT INTO task (id, name, description) values ( seq_task.nextval, #{name, javaType=String}, #{description, jdbcType=VARCHAR})

	</insert>
	
	
</mapper>