<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.rollaboard.TaskMapper">

	<resultMap type = "TaskVO" id = "TaskResultMap">
		<result property = "id" column = "ID"/>
		<result property = "name" column = "NAME"/>
		<result property = "description" column = "DESCRIPTION"/>
		<result property = "status" column = "STATUS"/>
		<result property = "section_id" column = "SECTION_ID"/>
		<result property = "start_date" column = "START_DATE"/>
		<result property = "due_date" column = "DUE_DATE"/>
		<result property = "cre_date" column = "CRE_DATE"/>
		<result property = "priority" column = "PRIORITY"/>
		
	</resultMap>
	
	<!-- getTasksByBoard -->
	<select id="getTasksByBoard" parameterType="map" resultMap="TaskResultMap">
		SELECT *
		FROM task ta, section se
		WHERE ta.SECTION_ID=se.id 
    		AND board_id=#{board_id} 
	</select>
	
	<!-- getTasksByBoard2 -->
	<select id="getTasksByBoard2" parameterType="map" resultMap="TaskResultMap">
		SELECT *
		FROM task ta, section se
		WHERE ta.SECTION_ID=se.id
    		AND board_id=#{board_id}
    		AND (ta.name LIKE '%'||#{keyword}||'%' OR ta.description LIKE '%'||#{keyword}||'%')
	</select>
	
	<!-- getTasksByBoard3(condition & sort) -->
	<select id="getTasksByBoard3" parameterType="map" resultMap="TaskResultMap">
		SELECT *
		FROM task ta, section se
		WHERE ta.SECTION_ID=se.id
    		AND board_id=#{board_id}
    		AND (ta.name LIKE '%'||#{keyword}||'%' OR ta.description LIKE '%'||#{keyword}||'%')
    		${conditionQuery}
    	ORDER BY
    		${sortQuery}
	</select>
	
	<!-- getTasksByBoard4(condition) -->
	<select id="getTasksByBoard4" parameterType="map" resultMap="TaskResultMap">
		SELECT *
		FROM task ta, section se
		WHERE ta.SECTION_ID=se.id
    		AND board_id=#{board_id}
    		AND (ta.name LIKE '%'||#{keyword}||'%' OR ta.description LIKE '%'||#{keyword}||'%')
    		${conditionQuery}
	</select>
	
	<!-- getTasksByBoard5(sort) -->
	<select id="getTasksByBoard5" parameterType="map" resultMap="TaskResultMap">
		SELECT *
		FROM task ta, section se
		WHERE ta.SECTION_ID=se.id
    		AND board_id=#{board_id}
    		AND (ta.name LIKE '%'||#{keyword}||'%' OR ta.description LIKE '%'||#{keyword}||'%')
    	ORDER BY
    		${sortQuery}
	</select>
	
	<select id="getTasks" resultMap="TaskResultMap">	
		SELECT * FROM task 
	</select>
	
	<insert id = "insertTask" parameterType = "com.spring.rollaboard.TaskVO">
		
		<!-- INSERT INTO task (id, name, description, section_id)
		VALUES (seq_task.NEXTVAL, #{name}, #{description}, #{section_id}) -->
			
		INSERT INTO task (id, name, description, section_id, start_date, due_date, cre_date, priority)
		VALUES (seq_task.NEXTVAL, #{name}, #{description}, #{section_id}, #{start_date}, #{due_date}, #{cre_date}, #{priority})
		
		<!-- INSERT 
		UPDATE task SET  NAME = #{name, jdbcType=VARCHAR},
		description = #{description, jdbcType=VARCHAR}
		WHERE section_id = #{section_id, javaType=INT} 
		 -->

	</insert>
	
	
</mapper>