<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.rollaboard.chat.room.ChatRoomMapper">

	<resultMap type="ChatRoomVO" id="ChatRoomResultMap">
		<result property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="boardId" column="BOARD_ID"/>
		<result property="visibility" column="VISIBILITY"/>
		<result property="creMemId" column="CRE_MEM_ID"/>
	</resultMap>
	
	<!-- createChatRoom -->
	<insert id="createChatRoom" parameterType="com.spring.rollaboard.chat.room.ChatRoomVO">
		INSERT INTO chatroom0 (id, name, description, board_id, visibility, cre_mem_id) 
		VALUES (SEQ_CH.NEXTVAL, #{name}, #{description}, #{boardId}, #{visibility}, #{creMemId})
	</insert>
	
	<!-- deleteChatRoom -->
	<delete id="deleteChatRoom" parameterType="int">
		DELETE FROM chatroom0 WHERE ID=#{id}
	</delete>
	
	<!-- updateChatRoom -->
	<update id="updateChatRoom" parameterType="com.spring.rollaboard.chat.room.ChatRoomVO">
		UPDATE chatroom0 
		SET name=#{name}, description=#{description}, board_id=#{boardId}, visibility=#{visibility} 
		WHERE id=#{id}
	</update>
	
</mapper>