<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.rollaboard.mem.MemMapper">

	<resultMap type = "MemVO" id = "MemResultMap">
		<result property = "id" column = "ID"/>
		<result property = "password" column = "PASSWORD"/>
		<result property = "name" column = "NAME"/>
		<result property = "email" column = "EMAIL"/>
	</resultMap>
	
	<insert id = "insertMember" parameterType = "com.spring.rollaboard.mem.MemVO">
		INSERT INTO mem VALUES 
			(#{id, javaType=String}, #{password, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{email})
	</insert>
	
	<select id = "getMember" resultMap = "MemResultMap">
		SELECT * FROM (SELECT * FROM MEM WHERE ID = #{id}) WHERE PASSWORD = #{password} 
	</select>
	
	<select id = "getMemInfoToUpdate" resultMap = "MemResultMap">
		SELECT * FROM mem WHERE ID = #{id} 
	</select>
	
	<update id = "updateMember" parameterType = "com.spring.rollaboard.mem.MemVO">
		UPDATE mem SET NAME = #{name, jdbcType=VARCHAR}, EMAIL = #{email} WHERE ID = #{id, javaType=String}
	</update>
	
	<select id ="chkMemberId" resultType = "int" >
		SELECT COUNT(*) FROM mem WHERE ID = #{id}
	</select>
	
	<select id = "getBoardMembers" resultMap = "MemResultMap">
		SELECT * FROM mem A
			INNER JOIN board_mem B on A.id = B.mem_id
			WHERE board_id = #{board_id} AND permission = 'TRUE' AND admin != 'TRUE'
	</select>
	
	<select id = "waitingMembers" resultMap = "MemResultMap">
		SELECT * FROM mem A
			INNER JOIN board_mem B on A.id = B.mem_id
			WHERE permission = 'FALSE'
	</select>
	
	<update id = "admitMember" parameterType = "com.spring.rollaboard.mem.MemVO">
		UPDATE board_mem SET permission = 'TRUE' WHERE mem_id = #{mem_id}
	</update>
	
	<delete id="deleteMember" parameterType="com.spring.rollaboard.mem.MemVO">
		DELETE FROM board_mem WHERE mem_id = #{mem_id}
	</delete>
	
	<select id = "getRoleMembers" parameterType = "map" resultMap="MemResultMap">
		SELECT ID, NAME FROM role_mem A JOIN mem B ON A.mem_id = B.id WHERE ROLE_ID = #{role_id}
	</select>
	
	<select id = "chkRoleToExpel" parameterType = "map" resultType = "int">
		SELECT count(*) FROM ROLE_MEM A JOIN ROLE B ON A.ROLE_ID = B.ID 
		WHERE MEM_ID = #{mem_id} AND BOARD_ID = #{board_id}
	</select>
	
	
</mapper>